/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}
 
* {
    /* The width of an element will be the size of its border box, not its content box (which is the normal default). */
    box-sizing: border-box;
}

/* My CSS */

body {
  width: 40rem;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

h2 {
  font-size: 1.75rem;
}

p {
  margin: .5em 0;
}

ul {
  list-style: none;
}

.history {
  width: 75%;
  margin: 1em;
}

.user-input-container {
  display: flex;
  width: 75%;
  margin: 1em;
}

.guess-input {
  width: 70%;
  margin: 0 .5em;
}

.gameBtn {
  min-width: 25%;
  margin: 0 .5em;
}

.instructions {
  margin: .5em;
  text-align: center;
}

#version-buttons {
  display: flex;
  justify-content: center;
}

#version-buttons input {
  margin: .5rem 1.5rem;
}

.active-game {
  color: blue;
  font-weight: bold;
}

.user-response-btns {
  display: flex;
  justify-content: space-around;
  margin: .5em;
}