<!DOCTYPE html>
<html>
<head>
  <title>Number Guessing Games</title>
  <link rel="stylesheet" href="css\stylesheet.css"></link>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="src/ThinkerBrain.js"></script>
  <script src="src/main.js"></script>
  <script>window.onload = main</script>
</head>
<body>
  <div id="static-container">
    <h1>Number Guessing Games</h1>
    <input type="button" class="version-btn" id="selected" value="Version 1">
  </div>
  
  <div id="game-container" class='game-container'>
    <game-instructions v-bind='{instructions}'></game-instructions>
    
    <div class='user-input-container'>
      <input class="guess-input" id="v1-input" v-bind:placeholder="placeholder" v-model="userInput">
      <game-btn v-bind='{newButton: buttons[0], method: startGame}' v-if="btnSeen === 'Start Game'"></game-btn>
      <game-btn v-bind='{newButton: buttons[1], method: guessHandler}' v-if="btnSeen === 'Submit Guess'"></game-btn>
      <game-btn v-bind='{newButton: buttons[2], method: startGame}' v-if="btnSeen === 'Restart Game?'"></game-btn>
    </div>
    
    <p class="response" id="v1-response">{{ response }}</p>
    
    <p class="history" id="v1-history">{{ history }}</p>
  </div>
  
  <div id="game2-container" class='game-container'>
    <game-instructions v-bind='{instructions}'></game-instructions>
    
    <div class='user-input-container'>
      <input class="guess-input" id="v2-input" v-bind:placeholder="placeholder" v-model="userInput">
      <game-btn v-bind='{newButton: buttons[0], method: startGame}' v-if="btnSeen === 'Start Game'"></game-btn>
      <game-btn v-bind='{newButton: buttons[1], method: guessHandler}' v-if="btnSeen === 'Submit Guess'"></game-btn>
      <game-btn v-bind='{newButton: buttons[2], method: startGame}' v-if="btnSeen === 'Restart Game?'"></game-btn>
    </div>
    
    <p class="response" id="v2-response">{{ response }}</p>
    
    <p class="history" id="v2-history">{{ history }}</p>
  </div>
  
  <div id="game3-container" class='game-container'>
    <game-instructions v-bind='{instructions}'></game-instructions>
    
    <game-btn v-bind='{newButton: buttons[0], method: startGame}'></game-btn> <!-- v-if="btnSeen === 'Start Game'" (commmented out until backend added) -->
    <game-btn v-bind='{newButton: buttons[1], method: startGame}' v-if="btnSeen === 'Restart Game?'"></game-btn>
    <div class="user-response-btns"> <!-- v-if="btnSeen === 'User Response Buttons'" (commented out until backend added) -->
      <game-btn v-bind='{newButton: buttons[2], method: respondHigher}'></game-btn>
      <game-btn v-bind='{newButton: buttons[3], method: respondCorrect}'></game-btn>
      <game-btn v-bind='{newButton: buttons[4], method: respondLower}'></game-btn>
    </div>
    
    <p class="response" id="v2-response">{{ response }}</p>
    
    <p class="history" id="v2-history">{{ history }}</p>
  </div>
  
  <div id="game4-container" class='game-container'>
    <game-instructions v-bind='{instructions}'></game-instructions>
    
    <game-btn v-bind='{newButton: buttons[0], method: startGame}'></game-btn> <!-- v-if="btnSeen === 'Start Game'" (commmented out until backend added) -->
    <game-btn v-bind='{newButton: buttons[1], method: startGame}' v-if="btnSeen === 'Restart Game?'"></game-btn>
    <div class="user-response-btns"> <!-- v-if="btnSeen === 'User Response Buttons'" (commented out until backend added) -->
      <game-btn v-bind='{newButton: buttons[2], method: respondHot}'></game-btn>
      <game-btn v-bind='{newButton: buttons[3], method: respondWarm}'></game-btn>
      <game-btn v-bind='{newButton: buttons[4], method: respondCool}'></game-btn>
      <game-btn v-bind='{newButton: buttons[5], method: respondCold}'></game-btn>
      <game-btn v-bind='{newButton: buttons[6], method: respondCorrect}'></game-btn>
    </div>
    
    <p class="response" id="v2-response">{{ response }}</p>
    
    <p class="history" id="v2-history">{{ history }}</p>
  </div>
</body>
</html>