<!DOCTYPE html>
<html>
<head>
  <title>Number Guessing Games</title>
  <link rel="stylesheet" href="css\stylesheet.css"></link>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="src/game1.js"></script>
  <script>window.onload = main</script>
</head>
<body>
  <div id="static-container">
    <h1>Number Guessing Games</h1>
    <input type="button" class="version-btn" id="selected" value="Version 1">
  </div>
  
  <div id="game-container">
<!--     <h2>Instructions</h2>
    <p class="instructions-text">{{ instructions }}</p> -->
    <game-instructions v-bind='{instructions}'></game-instructions>
    
    <div class='user-input-container'>
      <input class="guess-input" id="v1-input" v-bind:placeholder="placeholder" v-model="userInput">
      <game-btn v-bind='{newButton: buttons[0], method: startGame}' v-if="btnSeen === 'start'"></game-btn>
      <game-btn v-bind='{newButton: buttons[1], method: compareGuess}' v-if="btnSeen === 'submit'"></game-btn>
      <game-btn v-bind='{newButton: buttons[2], method: startGame}' v-if="btnSeen === 'restart'"></game-btn>
    <!--   <input type="button" class="game-start" id="v1-start" value="Start Game" v-if="startSeen" @click="startGame">
      <input type="button" class="guess-submit" id="v1-submit" value="submit" v-if="submitSeen" @click="compareGuess">
      <input type="button" class="game-restart" id="v1-restart" value="Restart Game?" v-if="restartSeen" @click="startGame"> -->
    </div>
    
    <p class="response" id="v1-response">{{ response }}</p>
    
    <p class="history" id="v1-history">{{ history }}</p>
  </div>
  
  <div id="game2-container">
    <game-instructions v-bind='{instructions}'></game-instructions>
    
    <div class='user-input-container'>
      <input class="guess-input" id="v2-input" v-bind:placeholder="placeholder" v-model="userInput">
      <game-btn v-bind='{newButton: buttons[0], method: startGame}' v-if="btnSeen === 'start'"></game-btn>
      <game-btn v-bind='{newButton: buttons[1], method: compareGuess}' v-if="btnSeen === 'submit'"></game-btn>
      <game-btn v-bind='{newButton: buttons[2], method: startGame}' v-if="btnSeen === 'restart'"></game-btn>
    </div>
    
    <p class="response" id="v2-response">{{ response }}</p>
    
    <p class="history" id="v2-history">{{ history }}</p>
  </div>
</body>
</html>